version: '3.8'

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: sys-admin-api
    ports:
      - '4468:4468'
    environment:
      #configurações do banco de dados
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_NAME=${DB_NAME:-sysadmin}
      - DB_USER=${DB_USER:-postgres}
      - DB_PASSWORD=${DB_PASSWORD:-postgres}
      - DATABASE_URI=postgres://${DB_USER:-postgres}:${DB_PASSWORD:-postgres}@postgres:5432/${DB_NAME:-sysadmin}
      #configurações do redis
      - REDIS_URL=redis://redis:6379
      #configurações AWS s3
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      - AWS_REGION=${AWS_REGION}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
      - AWS_S3_BUCKET=${AWS_S3_BUCKET}
      #configurações do jwt
      - JWT_SECRET=${JWT_SECRET}
      - ENCRYPT_SECRET=${ENCRYPT_SECRET}
      #configurações do front e email
      - FRONTEND_URL=${FRONTEND_URL}
      - EMAIL_API_URL=${EMAIL_API_URL}
      - EMAIL_API_TOKEN=${EMAIL_API_TOKEN}
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    networks:
      - app-network

  postgres:
    image: postgres:16-alpine
    container_name: sys-admin-postgres
    environment:
      - POSTGRES_DB=${DB_NAME:-sysadmin}
      - POSTGRES_USER=${DB_USER:-postgres}
      - POSTGRES_PASSWORD=${DB_PASSWORD:-postgres}
    ports:
      - '${DB_PORT:-5432}:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U ${DB_USER:-postgres}']
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - app-network

  redis:
    image: redis:7-alpine
    container_name: sys-admin-redis
    ports:
      - '6379:6379'
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes
    healthcheck:
      test: ['CMD', 'redis-cli', 'ping']
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - app-network

volumes:
  postgres_data:
    driver: local
  redis_data:
    driver: local

networks:
  app-network:
    driver: bridge
